input[type="checkbox"] {
  visibility: hidden;
  height: 0;
  width: 0;
}
.checkbox {
  position: relative;
  display: block;

  padding-left: 35px;
  font-size: 24px;
  margin: 16px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d3d3d3;
  display: block;
}

.checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #006400;
}
