body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-around;
}
.article {
  display: block;
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  width: 300px;
  flex-grow: 1;
  flex-shrink: 0;
}
.articles-list {
  display: flex;
  flex-wrap: wrap;
}
