header,
footer {
  height: 50px;
}
header {
  background-color: yellow;
}
main {
  width: 80%;
  float: left;
  background-color: pink;
}
.sidebar {
  width: 20%;
  float: left;
  background-color: grey;
}
main,
.sidebar {
  height: 500px;
}
footer {
  clear: both;
  background-color: green;
}
