* {
  box-sizing: border-box;
}
div {
  margin: 50px;
}
.rectangle {
  background-color: forestgreen;
  height: 50px;
  width: 100px;
  border-radius: 16px;
}
.elipse {
  background-color: darkmagenta;
  height: 50px;
  width: 100px;
  border-radius: 50%;
}
.circle {
  background-color: aquamarine;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.triangle {
  border: 50px solid transparent;
  border-top: 50px solid brown;
  height: 100px;
  width: 100px;
}
